/* Base form styling */
.parameters {
  background: #efe8e2;
  width: 234px;
  box-sizing: content-box;
  margin: 20px auto;
  padding: 2px;
}

/* Form styling */
/*
.parameters {
  position: relative;  
}*/
.param-heading {
  font-size: 12px;
  /*text-align: left;*/
  line-height: 1;
  /*margin: 30px 10px 10px 5px;*/
  margin: 2em 1em 1em 1em;
  border-left: 6px solid #fff;
  padding-left: .5em;
  text-transform: uppercase;
  color: #4985ad;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis
}
.parameter, .parameter-set {
  text-align: right
}
.param-select {
  width: 100px;
  height: 1.8em;
  /*height: 30px;*/
  padding: 0 4px;
  margin: 4px 4px;
  box-sizing: border-box
}
.param-numeric .param-input {
  width: 60px;
  height: 1.8em;
  margin: 2px 4px;
  box-sizing: border-box
}
.param-checkbox[type="checkbox"] {
  margin: 6px 4px;
  width: 1.3em;
  height: 1.3em
}
.param-label {
  color: #4985ad;
  font-weight: 200;
  font-size: 13px;
  margin: 0
}
.param-label-text {
  margin: 0 8px 0 0;
}
.param-composite-label {
  line-height: 1;
  margin: 1em 0 0 0;
  font-weight: 100;
  color: #999d9f; /* #789;*/
  font-style: italic;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis
}
/*
.param-label {
  display: block
}
.param-label .param-label-text {
  display: inline-block;
  padding: 0 5px 0 0
}
.param-composite-table {
  /*float: right* /
}
.param-composite-th .param-label {
  text-align: center;
}
.param-numeric .param-input {
  width: 60px;
  margin: 0 2px;
  box-sizing: border-box
}
.param-input.calculation-error { 
  background-color: #fdd;
  /*border: 1px solid #f00* /
  border: 1px solid #888
}
/*
.param-tolerance-value {
  vertical-align: top;
  width: 80px;
  padding: 0 4px
}
.param-tolerance-value .param-input {
  width: 70px;
}
.param-tolerance-table{display:table;margin-top:12px;margin-bottom:0}
.param-tolerance-spacer{display:table-cell;width:79px}
* /
.param-boolean .param-label {
  cursor: pointer
}*/
.param-tolerance-table {
  display: inline-table
}
.param-tolerance-th[scope="row"] {
  width: 100%
}
.param-tolerance-legend {
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  color: #789;
  font-size: 10px
}
