/* Clearfix comes from twitter bootstrap */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}

/* Form styling */
.parameters {
  position: relative;
  width: 300px;
}
.parameter {
  margin: 4px 0
}
.param-label,.param-composite-label {
  padding-left: 5px;
  padding-right: 5px;
  color: #4985ad;
  font-weight: 200;
  text-align: right;
  margin: 0
}
.param-label {
  display: block
}
.param-composite,.param-tolerance {
  margin: 10px 0
}
.param-composite-label {
  display: inline-block
}
.param-composite-table {
  float: right
}
.param-composite-th .param-label {
  text-align: center;
}
.param-tolerance-legend-label,.param-numeric .param-input {
  width: 60px;
  margin: 0 2px
}
.param-input.calculation-error { 
  background-color: #fdd;
  /*border: 1px solid #f00*/
  border: 1px solid #888
}
/*
.param-tolerance-value {
  vertical-align: top;
  width: 80px;
  padding: 0 4px
}
.param-tolerance-value .param-input {
  width: 70px;
}
.param-tolerance-table{display:table;margin-top:12px;margin-bottom:0}
.param-tolerance-spacer{display:table-cell;width:79px}
*/
.param-select {
  background-color: #fff;
  border: solid 2px #e9dfd7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 30px;
  padding: 0 4px;
  margin: 0
}
.param-boolean .param-label {
  cursor: pointer
}
.param-tolerance-table {
  float: right
}
.param-tolerance-label {
  width: 80px
}
.param-tolerance-legend {
  display: inline-block;
  float: right;
  font-weight: 400;
  text-transform: uppercase;
  color: #4985ad;
  font-size: 10px
}
.param-tolerance-legend-label {
  /*display: table-cell;*/
  display: inline-block;
  text-align: center
}
.param-tolerance-body {
  clear: both;
}
.param-heading {
  font-size: 12px;
  text-align: left;
  line-height: 1;
  margin: 30px 10px 10px 5px;
  border-left: 6px solid #fff;
  padding-left: 4px;
  text-transform: uppercase;
  color: #4985ad;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 220px
}
