/* Base form styling */
.parameters {
  background: #efe8e2;
  width: 234px;
  margin: 20px auto;
  padding: 2px;
  box-sizing: content-box;
  -moz-box-sizing: border-box
}

/* Form styling */
.param-heading {
  font-size: 12px;
  line-height: 1;
  margin: 2em 1em 1em 1em;
  border-left: 6px solid #fff;
  padding-left: .5em;
  text-transform: uppercase;
  color: #4985ad;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis
}
.parameter, .parameter-set {
  text-align: right
}
.param-select {
  width: 100px;
  height: 1.8em;
  padding: 0 4px;
  margin: 4px 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box
}
.param-numeric .param-input {
  width: 60px;
  height: 1.8em;
  margin: 2px 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box
}
.param-checkbox[type="checkbox"] {
  margin: 6px 4px;
  width: 1.3em;
  height: 1.3em
}
.param-label {
  color: #4985ad;
  font-weight: 200;
  font-size: 13px;
  margin: 0
}
.param-label-text {
  margin: 0 8px 0 0
}
.param-composite-label {
  font-size: 11px;
  margin: 0;
  font-weight: 100;
  color: rgb(163, 180, 192);
  font-style: italic;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis
}
.param-composite-label-text {
  vertical-align: bottom;
  display: inline-block;
  margin: 2em 0 0 5px;
  line-height: 1
}
.param-composite-label .param-composite-label-text {
  max-width: 85px
}
.param-tolerance-table, .param-composite-table {
  display: inline-table
}
.param-composite-th {
  text-align: center;
}
.param-tolerance-th[scope="row"] {
  width: 100%
}
.param-tolerance-legend {
  line-height: 0.95;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  color: #789;
  font-size: 9px;
  vertical-align: bottom
}
